/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary-color: #455875;
$secondary-color: #93bca1;
$grey: #989898;

* {
  font-family: "Spartan", sans-serif;
}

html,
body {
  height: 100%;
}

h1 {
  font-family: "Paytone One", sans-serif;
}

.home {
  width: 30%;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
}

.home a {
  text-decoration: none;
  color: $grey;
  transition: 0.25s ease-in-out;
}

.home a:hover {
  color: $secondary-color;
  letter-spacing: 0.075rem;
}

nav {
  padding: 1rem !important;
}

nav .nav-item {
  transition: 0.25s ease-in-out;
  text-transform: uppercase;
  font-size: 0.75rem;
}

nav .nav-item:hover {
  color: $secondary-color !important;
  letter-spacing: 0.075rem;
}
