<div class="flex-column h-100 d-flex justify-content-center align-items-center">
<div class="home">
    <%= image_tag("jimmyscar_logo.svg") %>
    <div class="w-100 d-flex justify-content-between">
        <a href="latest">Tier List</a>
        <a href="swap">Make a Swap</a>
        <a href="profile">Profile</a>
        <a href="history">History</a>
    </div>
    </div>
</div>