

<div class="home">
    <h1>Jimmy's Car</h1>
    <div>
        <a href="latest">Tier List</a>
        <a href="swap">Make a Swap</a>
        <a href="profile">Profile</a>
        <a href="history">History</a>
    </div>
</div>