<div>
    <ul class="navbar">
        <li class="navbaritem"><a href='/home'> JC </a></li>
        <li class="navbaritem"><a href='/latest'> Latest </a></li>
        <li class="navbaritem"><a href='/swap'> Make a Swap </a></li>
        <li class="navbaritem"><a href='/history'> Tier List History </a></li>
        <li class="navbaritem"><a href='/hall'> Tier List Hall of Fame </a></li>
        <li class="navbaritem"><a href='/people'> Profiles </a></li>
    </ul>
</div>