<%# to be improved by somebody who knows frontend%>
<%= stylesheet_link_tag 'song_card' %>

<div class="card mx-auto mb-3">
    <div class="card-body justify-content-around align-items-center d-flex flex-row">
        <p><span class="emphasis"><%= person.name %></span></p>
        <p>points: <span class="emphasis2"><%= person.points %></span></p>
    </div>
</div>